# Variable

### Create a variable named carname and assign the value Volvo to it.

In [1]:
carname = "Volvo"

In [2]:
print(carname)

Volvo

### Create a variable named x and assign the value 50 to it.

In [3]:
x=50

### Display the sum of 5 + 10, using two variables: x and y.

In [6]:
x=5
y=10
sum=x+y
print(sum)

15

### Create a variable called z, assign x + y to it, and display the result.

In [7]:
z=x+y
print(z)

15

### Remove the illegal characters in the variable name:

In [12]:
# Original variable name with illegal characters
# my-variable_name! = "Hello, World!"

# Modified variable name with illegal characters removed
my_variable_name = "Hello, World!"

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [9]:
x = y = z = 10

### The following code example would print the data type of x, what data type would that be?

In [10]:
x=5
print(type(x))

<class 'int'>

### Insert the correct syntax to convert x into a floating point number.

In [13]:
x=6
float(x)

6.0

### Insert the correct syntax to convert x into a integer.

In [14]:
int(x)

6

### Use the len method to print the length of the string.

In [17]:
str="ahmed"
len(str)

5

### Get the first character of the string txt.

In [19]:
txt="one"
txt[0]

'o'

### Get the characters from index 2 to index 4 (llo).

In [22]:
str="ahmed"
str[2:5] ## end-1

'med'

### Return the string without any whitespace at the beginning or the end.

In [23]:
str1="    ahmed    "
str1.strip()

'ahmed'

### Convert the value of txt to upper case.

In [24]:
txt.upper()

'ONE'

### Convert the value of txt to lower case.

In [26]:
txt.lower()

'one'

### Replace the character H with a J.

In [28]:
str="ahmed"
str.replace("h","j")

'ajmed'

### Using format function to print the age

In [29]:
age=22
print("my age is {} years old ".format(age))

my age is 22 years old

### The statement below would print a Boolean value, which one?

In [31]:
1>0

True

In [32]:
1<0

False

In [35]:
1<2<0

False

### Multiply 10 with 5, and print the result.

In [36]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [37]:
print(10/2)

5.0

### Create a list and check if the value in this list or not

In [42]:
list1=[1,2,3,4,5,6,"ahmed"]
if 4 or 10 in list1 :
    print(True)
else:
    print(False)

True

### Use the correct comparison operator to check if 5 is not equal to 10.

In [43]:
if 5 == 10 :
    print("equal")
else :
    print("not equal")

not equal

### Use the correct logical operator to check if at least one of two statements is True.

In [44]:
list1=[1,2,3,4,5,6,"ahmed"]
if 4 or 10 in list1 :
    print(True)
else:
    print(False)

True

### Print the second item in the fruits list.

In [23]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [24]:
fruits[0]="kiwi"
print(fruits)

['kiwi', 'banana', 'cherry', 'date', 'elderberry']

###  Use the append method to add "orange" to the fruits list.

In [25]:
fruits.append("orange")
print(fruits)

['kiwi', 'banana', 'cherry', 'date', 'elderberry', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [27]:
fruits.insert(1,"lemon")
print(fruits)

['kiwi', 'lemon', 'banana', 'cherry', 'date', 'elderberry', 'orange']

### Use the remove method to remove "banana" from the fruits list.

In [36]:
fruits.remove("banana")
print(fruits)

['kiwi', 'lemon', 'cherry', 'date', 'elderberry', 'orange']

### Use negative indexing to print the last item in the list.

In [38]:
fruits[-1]

'orange'

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [45]:
fruits[2:5] ##fruits[2:5:1]

['cherry', 'date', 'elderberry']

### Use the correct syntax to print the number of items in the list.

In [46]:
len(fruits)

6

### Use the correct syntax to print the first item in the fruits tuple.

In [49]:
tuple(fruits)

('kiwi', 'lemon', 'cherry', 'date', 'elderberry', 'orange')

In [50]:
fruits[0]

'kiwi'

### Use the correct syntax to print the number of items in the fruits tuple.

In [51]:
len(fruits)

6

### Use the add method to add "orange" to the fruits set.

In [63]:
set(fruits)

{'cherry', 'date', 'elderberry', 'kiwi', 'lemon', 'orange'}

In [60]:
fruits.append("orange")
print(fruits)

['kiwi', 'lemon', 'cherry', 'date', 'elderberry', 'orange', 'orange', 'orange', 'orange']

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [75]:

fruits = {"apple", "banana", "cherry"}
more_fruits = ["date", "elderberry", "fig"]

fruits.update(more_fruits)
print(fruits)

{'date', 'fig', 'elderberry', 'apple', 'banana', 'cherry'}

### Use the remove method to remove "banana" from the fruits set.

In [80]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

### Use the get method to print the value of the "model" key of the car dictionary.

In [98]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
model_value = car.get("model")
print(model_value)

Mustang

### Change the "year" value from 1964 to 2020.

In [99]:
car["year"]=2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Add the key/value pair "color" : "red" to the car dictionary.

In [100]:
car["color"]="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

### Use the pop method to remove "model" from the car dictionary.

In [101]:
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 2020, 'color': 'red'}

### Use the clear method to empty the car dictionary.

In [103]:
car.clear()
print(car)

{}

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [104]:
a=5
b=6
if a==b:
    print(1)
elif a>b:
    print(2)
else:
    print(3)

3

### This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

### Use the correct short hand syntax to write the following conditional expression in one line:

In [113]:
x = 10
result = "x is greater than 5" if x > 5 else "x is not greater than 5"
print(result)

x is greater than 5

### Print i as long as i is less than 6.

In [105]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

### Stop the loop if i is 3.

In [107]:
for i in range(5):
    print(i)
    if i == 3:
        break

0
1
2
3

### In the loop, when i is 3, jump directly to the next iteration.

In [108]:
for i in range(5):
    print(i)
    if i == 3:
        continue

0
1
2
3
4

### Print a message once the condition is false.

In [109]:
x = 5
if x > 10:
    print("x is greater than 10")
else:
    print("x is not greater than 10. This condition is false.")

x is not greater than 10. This condition is false.

### In the loop, when the item value is "banana", jump directly to the next item.

In [110]:
list2=["apple","banana","mango"]
for i in list2:
    if i == "banana":
        continue
    print(i)

apple
mango

### Use the range function to loop through a code set 6 times.

In [111]:
for i in range(6):
    print("This is loop iteration", i+1)

This is loop iteration 1
This is loop iteration 2
This is loop iteration 3
This is loop iteration 4
This is loop iteration 5
This is loop iteration 6

### Exit the loop when x is "banana".

In [112]:
list2=["apple","banana","mango"]
for i in list2:
    if i == "banana":
        break
    print(i)

apple

### Create a function named my_function.

In [117]:
def my_function():
    print("this is my function")

### Execute a function named my_function.

In [118]:
my_function()

this is my function

### Inside a function with two parameters, print the first parameter.

In [121]:
def my_function(num1,num2):
    print(num2)

In [122]:
my_function(1,2)

2

### Let the function return the x parameter + 5.

In [123]:
def my_function(x):
    return x+5

In [124]:
my_function(5)

10

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [125]:
def my_function(*args):
    for arg in args:
        print(arg)

my_function(1, 2, 3, 4)

1
2
3
4

In [126]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

my_function(name='Ahmed', age=22, city='Benha')

name Ahmed
age 22
city Benha

### Create a lambda function that takes one parameter (a) and returns it.

In [142]:
x = lambda a : a 
print(x(5))

5

### Implement a function to find all prime numbers up to a given number n. Assume n is a positive integer.

In [146]:
def is_prime(n):
  for i in range(2,n):
    if (n%i) == 0:
      return False
  return True

In [152]:
is_prime(3)

True

In [153]:
is_prime(4)

False

###  Implement a generator function to generate the Fibonacci sequence up to a given n terms.

In [174]:
def fibonacci(n):
    a,b=0,1
    count=0
    while count<n:
        yield a
        a=b
        b=a+b
        count+=1

In [175]:
n = 10  
fib_seq = fibonacci(n)

for num in fib_seq:
    print(num)

0
1
2
4
8
16
32
64
128
256

### Write a function to compute the power of a number x raised to the power n using recursion.

In [176]:
def power(x,n):
    print(x**n)

In [177]:
power(2,3)

8